<section id="{{ section.slug | slugify }}" class="block block-feature-1">
  <div class="container">
    <div class="columns">
      <div class="column text">
          <h2><span class="light">{{ section.headline }}</span></h2>
          <p>{{ section.content }}</p>
      </div>
      <div class="column media">
          <iframe
              src="https://www.youtube.com/embed/{{ section.media.alt_text }}"
              width="500"
              height="480"
              frameborder="0"
              allowfullscreen=""
              loading="lazy">
          </iframe>
      </div>
    </div>
  </div>
</section>
