<section class="block block-footer-2">
  <div class="container">
    <div class="columns">
      <div class="column">
        <img src="{{ section.image | relative_url }}" width="40" height="auto" alt="Logo">
      </div>
      <div class="column">
        <h3>{{ section.headline1 }}</h3>
        {{ section.col_2 }}
      </div>
      <div class="column">
          <h3>{{ section.headline2 }}</h3>
          {{ section.col_3 }}
      </div>
      <div class="column">
          <h3>{{ section.headline3 }}</h3>
          {{ section.col_4 }}
      </div>
      <div class="column">
         <ul>
          {% for image in page.uploads %}
            <li><img src="{{ image | relative_url }}"></li>
          {% endfor %}
         </ul>
      </div>
    </div>
  </div>
</section>
