<section id="{{ section.slug | slugify }}" class="block block-feature-2">
  <div class="container">
    <div class="columns">
      <div class="column media">
          <img src="{{ section.media.image | relative_url }}" alt="{{ section.media.alt_text }}" loading="lazy">
      </div>
      <div class="column text">
          <h2><span class="light">{{ section.headline }}</span></h2>
          <h3><span class="light">{{ section.headline1 }}</span></h3>
          <p>{{ section.content }}</p>
          <h3><span class="light">{{ section.headline2 }}</span></h3>
          <p>{{ section.content2 }}</p>
          <h3><span class="light">{{ section.headline3 }}</span></h3>
          <p>{{ section.content3 }}</p>
      </div>
    </div>
  </div>
</section>
