<section class="block block-footer-2">
  <div class="container">
    <div class="columns">
      <div class="column">
        <img src="{{ section.image | relative_url }}" width="80%" height="auto" alt="Logo">
      </div>
      <div class="column">
        <h3>{{ section.headline1 }}</h3>
        
        
        {{ section.col_2 }}
      </div>
      <div class="column">
          <h3>{{ section.headline2 }}</h3>
        
        
          <img src="{{ section.col_3 | relative_url }}" width="25%" height="auto" alt="Logo">
      </div>
      <div class="column">
          <h3>{{ section.headline3 }}</h3>
        
        
          <img src="{{ section.col_4 | relative_url }}" width="25%" height="auto" alt="Logo">
      </div>
      <div class="column">
      
      </div>
    </div>
  </div>
</section>
